#login-buttons
  padding 15px 10px
  line-height 18px
  a.login-link-text
    color #f0f0f0

#messages-container
  margin-top 15px

#users
  margin-top -7px
  margin-bottom 10px
  .label
    margin-right .5em
  .label.idle
    background-color #B8B8B8

#player
  overflow: hidden
  margin-top: 10px
  .skip
    margin-top: 10px
    width: 100px

#player-sticky
  border-top: 2px solid #333
  position: fixed
  bottom: 0
  width: 100%
  min-height: 30px
  background-color: #eee
  padding: 20px
  .track-info
    width: 50%
    display: inline
    float: left
  button
    display: inline
    float: left

#queue
  margin-top: 10px
  width: 100%
  overflow-x: scroll
  border: 2px solid lightgrey
  border-radius: 5px;
  padding: 10px
  ul
    width: 3100px
    margin: 0
    padding: 0
  li
    display: inline
    width: 300px
    margin: 0 5px
    border: 1px solid lightgrey
    padding: 5px
    float: left
    overflow: hidden
    height: 100px
  span
    float: left
  .title
    width: 200px
    overflow: hidden
  .user
    width: 200px
    overflow: hidden
