#login-buttons
  padding 15px 10px
  line-height 18px
  a.login-link-text
    color #f0f0f0

#messages-container
  margin-top 15px

#users
  margin-top -7px
  margin-bottom 10px
  .label
    margin-right .5em
  .label.idle
    background-color #B8B8B8

#player
  overflow: hidden
  margin-top: 10px
  .skip
    margin-top: 10px
    width: 100px

#queue
  margin-top: 10px
  width: 100%
  overflow-x: scroll
  border: 2px solid lightgrey
  border-radius: 5px;
  padding: 10px
  ul
    width: 2000px
    margin: 0
    padding: 0
  li
    display: inline
    width: 190px
    margin: 0 5px
    border: 1px solid lightgrey
    padding: 5px
    float: left
    .title
      height: 65px
